{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": true
  },
  "settings": {
    "react": {
      "version": "^17.0.2"
    }
  },
  "rules": {
    "semi": [
      "error",
      "always"
      //      "never"
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-var-requires": 0
  }
//  "overrides": [
//    {
//      // enable the rule specifically for TypeScript files
//      "files": [
//        "*.ts",
//        "*.tsx"
//      ],
//      "rules": {
//        "@typescript-eslint/explicit-function-return-type": "off"
//      }
//    }
//  ]
}
